.content-page--event-header
  .body-section--event-header__inner
    .body-section--event-header__event
      %a(href="/2017") <span>Ruby Workshop Tanzania</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">7</span></span>
    .body-section--event-header__city <span>Dar es Salaam</span> <span>Tanzania</span>
    .body-section--event-header__date 23<sup>rd</sup> September 2017

#after-nav
