.content-page--event-header
  .body-section--event-header__inner
    .body-section--event-header__event
      %a(href="/2018") <span>Ruby Workshop Rwanda</span> <span class="two-oh-one-five"><span class="two">2</span><span class="oh">0</span><span class="one">1</span><span class="five">8</span></span>
    .body-section--event-header__city <span>Kigali</span> <span>Rwanda</span>
    .body-section--event-header__date TBD 2018

#after-nav
